.navigate {

    border-bottom: 1px solid #D4C2C8;
}

.container {
    width: 100%;
}

.header {
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;

    /* Đảm bảo header hiển thị trên cùng */
    .title {
        h2 {
            color: #1F1A1C;
            font-weight: 500;
        }

    }
}

.move {
    padding-top: 20px;
}

.post {
    width: 100%;
    border-bottom: 1px solid #D4C2C8;

    .top {

        align-items: center;
        justify-content: flex-start;
        display: flex;
        margin-bottom: 30px;

        .avatar {
            margin: 0 20px;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
    }

    .input {
        input {
            outline: none;
            border: none;
            font-size: 20px;
        }
    }

    .bottom {
        width: calc(100% - 90px);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;

        .divice {
            width: 48%;
        }

        padding-left: 90px;

        .icon {
            align-items: center;
            justify-content: center;
            display: flex;
            color: #944170;

        }

        .button {
            button {
                border-radius: 30px;
                width: 80px;
                height: 40px;
            }

        }
    }
}

.posts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    flex-direction: column;

    .item {
        width: calc(100% - 20px);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 10px;
        border-bottom: 1px solid #D4C2C8;

        .top-item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 10px;

            .avatar-top-item {
                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                }
            }

            .content-top-item {
                .container-user-top-item {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin: 0 10px;
                    margin-bottom: 10px;

                    .username-top-item {
                        color: #1F1A1C;
                        font-size: large;
                        margin-right: 10px;
                    }

                    .tagname-top-item,
                    .time-top-item {
                        font-size: large;
                        color: #504349;
                        margin-right: 10px;
                    }

                    .divice-content-top-item {
                        width: 62%;
                    }

                    .icon-content-top-item {
                        color: #504349;

                    }
                }

                .content-user-top-item {
                    margin: 0 10px;
                    width: calc(100% - 68px);
                    padding-right: 68px;
                    font-size: large;
                    color: #1F1A1C;
                }

            }
        }

        .img-item {
            width: calc(100% - 80px);
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 5px;
            padding-left: 80px;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
            }


        }

        .reaction {
            width: calc(100% - 120px);
            padding-left: 80px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 10px;

            .item-reaction {
                color: #504349;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 40px;

                .count {
                    margin: 10px;
                }
            }
        }
    }
}