.navigate {
  border-bottom: 1px solid #d4c2c8;
}

.container {
  width: 100%;
}

.header {
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;

  /* Đảm bảo header hiển thị trên cùng */
  .title {
    h2 {
      color: #1f1a1c;
      font-weight: 500;
    }
  }
}

.move {
  padding-top: 20px;
}

.post {
  width: 100%;
  border-bottom: 1px solid #d4c2c8;

  .top {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-bottom: 30px;

    .avatar {
      margin: 0 20px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }

  .input {
    input {
      outline: none;
      border: none;
      font-size: 20px;
    }
  }

  .bottom {
    width: calc(100% - 90px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    // .divice {
    //   width: 48%;
    // }

    padding-left: 90px;

    .icon {
      align-items: center;
      justify-content: center;
      display: flex;
      color: #944170;
    }

    .button {
      button {
        border-radius: 30px;
        width: 80px;
        height: 40px;
      }
    }
  }
}

.posts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  flex-direction: column;

  .item {
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #d4c2c8;

    .top-item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 10px;

      .avatar-top-item {
        margin: 0 10px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
        }
      }

      .content-top-item {
        .container-user-top-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          /* Căn giữa theo chiều dọc */

          .left-container-user-top-item {
            margin: 0 10px;
            justify-content: center;
            align-items: center;
            display: flex;

            .username-top-item {
              color: #1f1a1c;
              font-size: large;
              margin-right: 10px;
            }

            .tagname-top-item,
            .time-top-item {
              font-size: large;
              color: #504349;
              margin-right: 10px;
            }
          }



          .icon-content-top-item {
            color: #504349;
          }
        }

        .content-user-top-item {
          margin: 0 10px;
          width: calc(100% - 50px);
          padding-right: 50px;
          font-size: large;
          color: #1f1a1c;
        }
      }
    }

    .img-item {
      width: calc(100% - 80px);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 3px;
      padding-left: 80px;

      img {
        width: 100%;
        height: auto;

      }
    }

    .reaction {
      width: calc(100% - 100px);
      padding-left: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 10px;

      .item-reaction {
        color: #504349;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 75px;

        .count {
          margin: 10px;
        }
      }
    }
  }

}

.comment-dialog {
  border: none;
  border-radius: 20px;
  width: 35%;
  position: fixed;
  inset-block-start: 0px;
  inset-block-end: 200px;
  max-width: calc((100% - 6px) - 2em);
  max-height: calc((100% - 6px) - 2em);
  user-select: text;
  visibility: visible;
  overflow: auto;

  .btnClose {
    margin: 5px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .top-dialog {

    align-items: center;
    justify-content: center;
    display: flex;
    .avatar-top-dialog{
      margin: 20px;

    }

    .content-top-dialog {
      .container-user-top-dialog {
        align-items: center;
        justify-content: flex-start;
        display: flex;
      }

    }

  }
  .input-comment{
    margin: 20px;
    width: 90%;

    input{
      font-size: large;
      outline: none;
      border: none;
      width: 100%;

    }
  }
  .bottom-dialog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button-comment{
      button{
        border-radius: 20px;
      }
    }
  }

}