<div class="container">
  <div class="header">
    <div class="title">
      <h2>Home</h2>
    </div>
    <div class="navigate">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="For you">
          <div class="move">
            <div class="post">
              <div class="top">
                <div class="avatar">
                  <img
                    src="https://static01.nyt.com/images/2022/12/30/multimedia/30soccer-ronaldo-1-76fd/30soccer-ronaldo-1-76fd-videoSixteenByNine3000.jpg"
                    alt=""
                  />
                </div>
                <div class="input" >
                  <input type="text" placeholder="What is happening?!"  />
                </div>
              </div>
              <div class="bottom">
                <div class="icon">
                  <mat-icon style="margin-right: 30px">image</mat-icon>
                  <mat-icon style="margin-right: 30px">gif</mat-icon>
                  <mat-icon style="margin-right: 30px">poll</mat-icon>
                  <mat-icon style="margin-right: 30px">emoji_emotions</mat-icon>
                  <mat-icon style="margin-right: 30px">schedule</mat-icon>
                </div>
                <!-- <div class="divice"></div> -->
                <div class="button">
                  <button mat-raised-button color="primary">Post</button>
                </div>
              </div>
            </div>
            <div class="posts">
              <app-post [post]="posts"></app-post>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Following">
          <div class="move">
            <div class="post">
              <div class="top">
                <div class="avatar">
                  <img
                    src="https://static01.nyt.com/images/2022/12/30/multimedia/30soccer-ronaldo-1-76fd/30soccer-ronaldo-1-76fd-videoSixteenByNine3000.jpg"
                    alt=""
                  />
                </div>
                <div class="input">
                  <input type="text" placeholder="What is happening?!" />
                </div>
              </div>
              <div class="bottom">
                <div class="icon">
                  <mat-icon style="margin-right: 30px">image</mat-icon>
                  <mat-icon style="margin-right: 30px">gif</mat-icon>
                  <mat-icon style="margin-right: 30px">poll</mat-icon>
                  <mat-icon style="margin-right: 30px">emoji_emotions</mat-icon>
                  <mat-icon style="margin-right: 30px">schedule</mat-icon>
                </div>
                <!-- <div class="divice"></div> -->
                <div class="button">
                  <button mat-raised-button color="primary">Post</button>
                </div>
              </div>
            </div>
            <div class="posts">
              <div class="item">
                <div class="top-item">
                  <div class="avatar-top-item">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/vi/thumb/a/a1/Man_Utd_FC_.svg/1200px-Man_Utd_FC_.svg.png"
                      alt=""
                    />
                  </div>
                  <div class="content-top-item">
                    <div class="container-user-top-item">
                      <div class="left-container-user-top-item">
                        <div class="username-top-item">Mu</div>
                        <div class="tagname-top-item">@mu</div>
                        <div class="time-top-item">Aug 15</div>
                        <div class="divice-content-top-item"></div>
                      </div>
                      <div class="icon-content-top-item">
                        <mat-icon>more_horiz</mat-icon>
                      </div>
                    </div>
                    <div class="content-user-top-item">
                      Ronaldo chính thức gia nhập Manchester United, trở về mái
                      nhà xưa sau 12 năm xa cách
                    </div>
                  </div>
                </div>
                <div class="container-item-img">
                  <div class="img-item">
                    <img
                      src="https://cdn1.tuoitre.vn/zoom/600_315/2021/9/3/0untitled-4-1630623197289312843800-crop-16306232345251445467404.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="reaction">
                  <div class="item-reaction" (click)="openCommentDialog()">
                    <mat-icon>sms</mat-icon>
                    <div class="count">13k</div>
                  </div>
                  <div class="item-reaction" (click)="repost1()">
                    <mat-icon
                      [ngStyle]="{ color: item1.sync ? '#944170' : '#504349' }"
                      >sync</mat-icon
                    >
                    <div class="count">11k</div>
                  </div>
                  <div class="item-reaction" (click)="like1()">
                    <mat-icon
                      [ngStyle]="{
                        color: item1.favorite ? '#944170' : '#504349'
                      }"
                      >favorite</mat-icon
                    >
                    <div class="count">14k</div>
                  </div>
                  <div class="item-reaction" (click)="monitoring1()">
                    <mat-icon
                      [ngStyle]="{
                        color: item1.monitoring ? '#944170' : '#504349'
                      }"
                      >legend_toggle</mat-icon
                    >
                    <div class="count">2M</div>
                  </div>
                  <div class="item-reaction">
                    <mat-icon>file_upload</mat-icon>
                  </div>
                </div>
              </div>


              <div class="item">
                <div class="top-item">
                  <div class="avatar-top-item">
                    <img
                      src="../../../../../../../assets/imgs/Rectangle 14.png"
                      alt=""
                    />
                  </div>
                  <div class="content-top-item">
                    <div class="container-user-top-item">
                      <div class="left-container-user-top-item">
                        <div class="username-top-item">Netflix</div>
                        <div class="tagname-top-item">@netflix</div>
                        <div class="time-top-item">Aug 15</div>
                        <div class="divice-content-top-item"></div>
                      </div>
                      <div class="icon-content-top-item">
                        <mat-icon>more_horiz</mat-icon>
                      </div>
                    </div>
                    <div class="content-user-top-item">
                      Gal Gadot's first movie (Fast & Furious) is on Netflix now
                      — and her latest movie (Heart of Stone) is on Netflix
                      Friday!
                    </div>
                  </div>
                </div>
                <div class="container-item-img">
                  <div class="img-item">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjoGr1Xb3hX9FcOZWi8b07rG9MpxsyEHwaGQ&usqp=CAU"
                      alt=""
                    />
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjoGr1Xb3hX9FcOZWi8b07rG9MpxsyEHwaGQ&usqp=CAU"
                      alt=""
                    />
                  </div>
                </div>
                <div class="reaction">
                  <div class="item-reaction" (click)="openCommentDialog()">
                    <mat-icon>sms</mat-icon>
                    <div class="count">13k</div>
                  </div>
                  <div class="item-reaction" (click)="repost2()">
                    <mat-icon
                      [ngStyle]="{ color: item2.sync ? '#944170' : '#504349' }"
                      >sync</mat-icon
                    >
                    <div class="count">11k</div>
                  </div>
                  <div class="item-reaction" (click)="like2()">
                    <mat-icon
                      [ngStyle]="{
                        color: item2.favorite ? '#944170' : '#504349'
                      }"
                      >favorite</mat-icon
                    >
                    <div class="count">14k</div>
                  </div>
                  <div class="item-reaction" (click)="monitoring2()">
                    <mat-icon
                      [ngStyle]="{
                        color: item2.monitoring ? '#944170' : '#504349'
                      }"
                      >legend_toggle</mat-icon
                    >
                    <div class="count">2M</div>
                  </div>
                  <div class="item-reaction">
                    <mat-icon>file_upload</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <dialog class="comment-dialog" style="color: #1f1a1c" #appDialog2>
    <div class="btnClose" (click)="closeCommentDialog()">
      <img
        src="https://cdn-icons-png.flaticon.com/512/2976/2976286.png"
        alt=""
      />
    </div>
    <div class="top-dialog">
      <div class="avatar-top-dialog">
        <img src="../../../../../../../assets/imgs/Rectangle 14.png" alt="" />
      </div>
      <div class="content-top-dialog">
        <div class="container-user-top-dialog">
          <div class="username-top-dialog">Netflix</div>
          <div class="tagname-top-dialog">@netflix</div>
          <div class="time-top-dialog">Aug 15</div>
        </div>
        <div class="content-user-top-dialog">
          Ronaldo chính thức gia nhập Manchester United, trở về mái nhà xưa sau
          12 năm xa cách
        </div>
      </div>
    </div>
    <div class="input-comment">
      <input type="text" placeholder="Post your comment!" />
    </div>

    <div class="bottom-dialog">
      <div class="icon-dialog">
        <mat-icon style="margin-right: 10px">image</mat-icon>
        <mat-icon style="margin-right: 10px">gif</mat-icon>
        <mat-icon style="margin-right: 10px">poll</mat-icon>
        <mat-icon style="margin-right: 10px">emoji_emotions</mat-icon>
        <mat-icon style="margin-right: 10px">schedule</mat-icon>
      </div>
      <div class="button-comment">
        <button mat-raised-button color="primary">Post</button>
      </div>
    </div>
  </dialog>
  <!-- <dialog #appDialogDetailPost class="detail-dialog">
    <button (click)="closeDetailDialog()">close</button>
    <app-detail>
    </app-detail>
  </dialog> -->
</div>
