<div class="container">
  <div class="header">
    <div class="title">
      <h2>Home</h2>
    </div>
    <div class="navigate">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="For you">
          <div
            class="move"
            infinite-scroll
            [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollUpDistance]="scrollUpDistance"
            [infiniteScrollThrottle]="throttle"
            (scrolled)="onScrollDown($event)"
          >
            >
            <div class="posts">
              <app-post [post]="posts"></app-post>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Following">
          <div
            class="move"
            infinite-scroll
            [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollUpDistance]="scrollUpDistance"
            [infiniteScrollThrottle]="throttle"
            (scrolled)="onScrollDown($event)"
          >
            >
            <div class="posts">
              <app-post [post]="posts"></app-post>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <dialog class="comment-dialog" style="color: #1f1a1c" #appDialog2>
    <div class="btnClose" (click)="closeCommentDialog()">
      <img
        src="https://cdn-icons-png.flaticon.com/512/2976/2976286.png"
        alt=""
      />
    </div>
    <div class="top-dialog">
      <div class="avatar-top-dialog">
        <img src="../../../../../../../assets/imgs/Rectangle 14.png" alt="" />
      </div>
      <div class="content-top-dialog">
        <div class="container-user-top-dialog">
          <div class="username-top-dialog">Netflix</div>
          <div class="tagname-top-dialog">@netflix</div>
          <div class="time-top-dialog">Aug 15</div>
        </div>
        <div class="content-user-top-dialog">
          Ronaldo chính thức gia nhập Manchester United, trở về mái nhà xưa sau
          12 năm xa cách
        </div>
      </div>
    </div>
    <div class="input-comment">
      <input type="text" placeholder="Post your comment!" />
    </div>

    <div class="bottom-dialog">
      <div class="icon-dialog">
        <mat-icon style="margin-right: 10px">image</mat-icon>
        <mat-icon style="margin-right: 10px">gif</mat-icon>
        <mat-icon style="margin-right: 10px">poll</mat-icon>
        <mat-icon style="margin-right: 10px">emoji_emotions</mat-icon>
        <mat-icon style="margin-right: 10px">schedule</mat-icon>
      </div>
      <div class="button-comment">
        <button mat-raised-button color="primary">Post</button>
      </div>
    </div>
  </dialog>
  <!-- <dialog #appDialogDetailPost class="detail-dialog">
    <button (click)="closeDetailDialog()">close</button>
    <app-detail>
    </app-detail>
  </dialog> -->
</div>
