.right {
  color: white;
  height: 100%;
  width: 35%;
}

.main {
  background-color: coral;
  color: white;
  margin: 0 15px;
  height: 100%;
  width: 65%;
}

.cover {
  height: 100%;
  width: 100%;
  display: flex;
}
