* {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(150px, 50%) 1fr;
  word-wrap: break-word;
}

.right {
  background-color: #944170;
  height: 100%;
  color: #ffffff;
  display: grid;
  grid-template-rows: 200px 1fr 200px;
  

}



.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #one {
    font-weight: 500;
    font-size: 45px;
    margin: 30px 0 10px 0;
  }
  #two {
    font-size: 32px;
    font-weight: 300;
  }
}

.btnGroup {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  place-items: center;

  .btnLgGoogle {
    background-color: #ffdbc8;
    color: #311302;
    border: none;
    border-radius: 100px;
    width: 250px;
    height: 50px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;


    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }
}

.left {
  background-color: #fffbff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    object-fit: cover;
  }
}
