<div class="container">
  <div class="left">
    <div class="friendList">
      <div class="head">
        <div class="name">Friends</div>
        <div class="icon">
          <img
            class="addMess"
            src="https://cdn-icons-png.flaticon.com/512/3526/3526416.png"
            alt=""
          />
        </div>
      </div>
      <div class="searchBar">
        <div class="searching">
          <mat-icon class="iconSearch"
            style="color: rgb(55, 55, 55); font-size: 25px; width: 15%;"
            >search</mat-icon
          >
          <input type="text" placeholder="Search new message" />
        </div> 
      </div>
      <div class="listUser">
        <div class="user">
          <div class="leftUser">
            <img
              class="avatar"
              src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-1093451218.jpg?crop=0.929xw:0.724xh;0,0.114xh&resize=1200:*"
              alt=""
            />
          </div>
          <div class="rightUser">
            <div class="nameUser">Adam</div>
            <div class="lastMessage">Hello</div>
          </div>
        </div>
        <div class="user">
          <div class="leftUser">
            <img
              class="avatar"
              src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-1093451218.jpg?crop=0.929xw:0.724xh;0,0.114xh&resize=1200:*"
              alt=""
            />
          </div>
          <div class="rightUser">
            <div class="nameUser">Adam</div>
            <div class="lastMessage">Hello</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="right">
        <div class="head">
            <div class="avatar">
                <img src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-1093451218.jpg?crop=0.929xw:0.724xh;0,0.114xh&resize=1200:*" alt="">
            </div>
            <div class="name">
                Adam
            </div>
            <div class="iconInfo">
                <img src="https://cdn-icons-png.flaticon.com/512/471/471662.png" alt="">
            </div>
        </div>
        <div class="chatBox">
            <div class="chatScreen">
                hello
            </div>
            <div class="chatPlace">
                <input type="text" placeholder="Send messages">
            </div>
        </div>
    </div>

</div>
