.container {
    display: flex;
    word-wrap: break-word;
    padding-left: 10px;
    height: 100%;
    
}

.right {
    width: 100%;
    height: 100%;
}

.left {
    height: 90%;
    width: 100%;
        .searchBar {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            .searching {
                display: flex;
                background-color: #FCF1F3;
                border-radius: 10px;
                align-items: center;
                width: 100%;
                margin-bottom: 30px;
                
                .iconSearch {
                    margin-left: 10px;
    
                }
                input {
                    width: 100%;
                    height: 30px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    // padding-left: 10px;
                    background-color: #FCF1F3;
                    color: #504349;
                    margin: 7px;
    
                }
            }
            
        }
        .listUser {
            cursor: pointer;
            .user {
                display: flex;
                align-items: center;
                background-color: #FCF1F3;
                border-radius: 15px;
                border-style: solid;
                border-width: 1px;
                border-color: #D4C2C8;
                .leftUser {
                    display: flex;
                    align-items: center;
                    margin: 10px;
                    .avatar {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }
                .rightUser {
                    font-size: 17px;
                    font-family: "Open Sans", sans-serif;
                }
            }
            
        }
    }

    