.top_bar {
  height: 6%;
  padding: 0 15px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  position: sticky;
  #left {
    width: 10%;
    height: 70%;
    #box {
      width: 65%;
      height: 100%;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      #back {
        margin: 7px 0;
      }
    }
    #box:hover {
      background-color: #e6e6e6;
      cursor: pointer;
    }
  }
  #right {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    #box {
      height: 80%;
      width: 100%;
      margin: 5px 0;
      h2 {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.bio {
  height: 40%;
  margin-bottom: 16px;

  #background {
    height: 50%;
    padding: 0;
    margin: 0;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }

  #infor {
    height: 30%;
    padding: 12px 16px 0;
    background-color: white;
    position: relative;
    #infor_head {
      height: 60px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      #box {
        width: 20%;
        #avt {
          width: 145px;
          height: 145px;
          background-color: white;
          border-radius: 50%;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: -75px;
          #avtImg {
            width: 95%;
            height: 95%;
            border-radius: 50%;
            position: absolute;
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
        }
      }
      #edit_btn {
        height: 70%;
        width: 20%;
        #edit {
          border-radius: 20px;
          height: 100%;
          width: 100%;
          background-color: #944170;
          span {
            font-size: 15px;
            font-weight: bold;
            color: white;
          }
        }
      }
    }

    #user {
      height: 25%;
      margin-top: 4px;
      margin-bottom: 12px;
      color: black;
      #name {
        height: 47%;

        span {
          font-size: 20px;
          font-weight: bold;
        }
      }
      #id {
        height: 37%;

        span {
          font-size: 15px;
          color: #536471;
        }
      }
      #bioprofile {
        word-wrap: break-word;
        max-width: 80%;
        span {
          font-size: 15px;
          color: #291520;
        }
      }
    }
    #date {
      height: 10%;
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      color: #536471;
      #icon {
        width: 20px;
        height: 20px;
        font-size: 18px;
        margin: 0 4px 0 0;
      }
    }

    #relationship {
      height: 10%;
      color: black;
      display: flex;
      align-items: center;
      font-size: 14px;
      #following {
        width: 13%;
        #count {
          margin-right: 2px;
          font-weight: bold;
        }
        #desc {
          color: #536471;
        }
      }

      #followers {
        #count {
          margin-right: 2px;
          font-weight: bold;
        }
        #desc {
          color: #536471;
        }
      }
    }
  }
}

.tabs {
  height: 50px;
  background-color: #fff8f8;
  display: flex;
  align-items: center;
  color: black;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.post_list {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  flex-direction: column;
  #space {
    height: 15px;
  }
  #post {
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    #left {
      height: 100%;
      width: 40px;
      margin: 0 12px 0 0;
      #avt {
        height: 40px;
        width: 40px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }
    }
    #right {
      height: 100%;
      width: 95%;
      color: black;
      #post_head {
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        margin-top: 2px;
        #head_left {
          height: 100%;
          width: auto;
          span {
            margin-right: 5px;
          }
          #user_id {
            color: #536471;
          }
          #date {
            color: #536471;
          }
        }
        #head_right {
          width: 40px;
          display: flex;
          justify-content: flex-end;
          #box {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          #box:hover {
            background-color: #fcf1f3;
            cursor: pointer;
            color: #944170;
          }
        }
      }
      #content {
        height: auto;
        font-size: 15px;
        color: #0f1419;
        margin-top: 12px;
      }

      #img_list {
        height: 362px;
        border-radius: 10px;
        background-size: cover;
        #img {
          height: 100%;
          width: 100%;
          border-radius: 10px;
          margin-top: 12px;
          object-fit: cover;
          img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
          }
        }
      }

      #service {
        height: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        span {
          padding: 0 12px;
        }
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          .box {
            height: 35px;
            width: 35px;
            border-radius: 50%;
          }
          .box:hover {
            background-color: #fcf1f3;
            cursor: pointer;
            color: #944170;
          }
        }
        div:hover {
          cursor: pointer;
          color: #944170;
        }
      }
    }
  }
}

.btnClose {
  margin: 5px;

  img {
    width: 20px;
    height: 20px;
  }

  .comment-dialog {
    border: none;
    border-radius: 20px;
    width: 35%;
    position: fixed;
    inset-block-start: 0px;
    inset-block-end: 200px;
    max-width: calc((100% - 6px) - 2em);
    max-height: calc((100% - 6px) - 2em);
    user-select: text;
    visibility: visible;
    // overflow: auto;
  }

  .top-dialog {
    align-items: center;
    justify-content: center;
    display: flex;
    .avatar-top-dialog {
      margin: 20px;
    }

    .content-top-dialog {
      .container-user-top-dialog {
        align-items: center;
        justify-content: flex-start;
        display: flex;
        margin-bottom: 10px;
        .username-top-dialog {
          margin-right: 10px;
          font-weight: bold;
        }

        .tagname-top-dialog {
          margin-right: 10px;
          color: #536471;
        }
        .time-top-dialog {
          margin-right: 10px;
          color: #536471;
        }
      }
    }
  }
  .input-comment {
    margin: 20px;
    width: 90%;

    input {
      font-size: large;
      outline: none;
      border: none;
      width: 100%;
    }
  }
  .bottom-dialog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button-comment {
      button {
        border-radius: 20px;
      }
    }
  }
}

.editProfile_dialog {
  border: none;
  border-radius: 20px;
  width: 30%;
  position: fixed;
  inset-block-start: 0px;
  inset-block-end: 0px;
  max-width: calc((100% - 6px) - 2em);
  max-height: calc((100% - 6px) - 2em);
  user-select: text;
  visibility: visible;
  // overflow: auto;
  padding: 0;

  #top {
    height: 50px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    #left {
      width: 10%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .btnClose {
        height: 70%;
        width: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        #box {
          height: 35px;
          width: 35px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 10px;
            height: 10px;
          }
        }
      }
      #box:hover {
        cursor: pointer;
        background-color: #e6e6e6;
      }
    }

    #mid {
      width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      #dialog_name {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    #right {
      width: 15%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      #save_btn {
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        #save {
          border-radius: 20px;
          height: 100%;
          width: 100%;
          background-color: #944170;
          span {
            font-size: 15px;
            font-weight: bold;
            color: white;
          }
        }
      }
    }
  }

  #main {
    height: 80%;
    width: 100%;
    #background {
      display: block;
      height: 200px;
      width: 100%;
      background-color: #aaaaaa;
      display: flex;
      justify-content: center;
      align-items: center;

      #addImg {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #444444;
        opacity: 0.5;
        cursor: pointer;
      }
      #addImg:hover {
        cursor: pointer;
        background-color: #555555;
      }
    }

    #avt {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 180px;
      left: 16px;
      background-color: white;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      #avtImg {
        width: 95%;
        height: 95%;
        border-radius: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-image: url('{{ selectedImage }}');
        // background-size: cover;

        #addImg {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #444444;
          opacity: 0.5;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        #addImg:hover {
          cursor: pointer;
          background-color: #555555;
        }
      }
    }

    .box {
      height: 100%;
      margin: 0;
      padding: 0;
      border: solid 1px #e6e6e6;
      border-radius: 5px;
    }

    #container_name {
      height: 60px;
      margin-top: 50px;
      padding: 12px 20px;

      #name {
        height: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 12px;
        margin-top: 5px;
        span {
          font-size: 13px;
          color: #536471;
        }
      }
      #input_name {
        height: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 12px;
        input {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          font-size: 20px;
        }
      }
    }

    #container_bio {
      height: 120px;
      padding: 12px 20px;

      #bio {
        height: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 12px;
        margin-top: 5px;
        span {
          font-size: 18px;
          color: #536471;
        }
      }
      #input_bio {
        height: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 12px;
        textarea {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          font-size: 20px;
          white-space: normal;
          font-family: sans-serif;
          resize: none;
          // overflow: auto;
        }
        textarea::-webkit-scrollbar {
          display: none;
        }
      }
    }

    #container_location {
      height: 60px;
      padding: 12px 20px;
      #location {
        height: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 12px;
        margin-top: 5px;
        span {
          font-size: 13px;
          color: #536471;
        }
      }
      #input_location {
        height: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 12px;
        input {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          font-size: 20px;
        }
      }
    }

    #container_website {
      height: 60px;
      padding: 12px 20px;
      #website {
        height: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 12px;
        margin-top: 5px;
        span {
          font-size: 13px;
          color: #536471;
        }
      }
      #input_website {
        height: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 12px;
        input {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          font-size: 20px;
        }
      }
    }

    #container_birthday {
      height: 60px;
      padding: 12px 20px;
      #birthday {
        height: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        #title {
          font-size: 15px;
          color: #536471;
        }
        #edit {
          font-size: 15px;
          color: #1d9bf0;
        }

        #edit:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      #date {
        font-size: 20px;
        color: #0f1419;
      }
    }
  }
}
