<div class="top_bar">
  <div id="left">
    <div id="box">
      <mat-icon id="back">arrow_back</mat-icon>
    </div>
  </div>
  <div id="right">
    <div id="box">
      <h2>{{ profile.displayName }}</h2>
      <div>4,000 posts</div>
    </div>
  </div>
</div>

<div class="bio">
  <div id="background">
    <img
      src="https://pbs.twimg.com/profile_banners/2935618898/1670404168/1500x500"
      alt=""
    />
  </div>
  <div id="infor">
    <div id="infor_head">
      <div id="box">
        <div id="avt">
          <div id="avtImg">
            <img
              *ngIf="profile.avatar !== null"
              src="{{ profile.avatar }}"
              alt=""
            />
            <img
              class="userimg"
              *ngIf="profile.avatar === null"
              src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
            />
          </div>
        </div>
      </div>
      <div id="edit_btn">
        <button id="edit" mat-stroked-button (click)="openEditProfileDialog()">
          <span>Edit Profile</span>
        </button>
      </div>
    </div>
    <div id="user">
      <div id="name">
        <span>{{ profile.displayName }}</span>
      </div>
      <div id="id">
        <span>@{{ profile.userName }}</span>
      </div>
      <div id="bioprofile">
        <span>{{ profile.bio }}</span>
      </div>
    </div>
    <div id="date">
      <mat-icon id="icon">calendar_month</mat-icon>
      <span>Joined december 2014</span>
    </div>
    <div id="relationship">
      <div id="following">
        <span id="count">1</span>
        <span id="desc">Following</span>
      </div>
      <div id="followers">
        <span id="count">0</span>
        <span id="desc">Followers</span>
      </div>
    </div>
  </div>
</div>

<div class="navigate">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Posts">
      <div class="move">
        <div class="posts">
          <app-post [post]="posts"></app-post>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Replies"> </mat-tab>

    <mat-tab label="Highlights">
      <app-post [post]="posts"></app-post>
    </mat-tab>
    <mat-tab label="Media"> </mat-tab>
    <mat-tab label="Likes">
      <app-post [post]="posts"></app-post>
    </mat-tab>
  </mat-tab-group>
</div>

<dialog class="comment-dialog" style="color: #1f1a1c" #appDialog2>
  <div class="btnClose" (click)="closeCommentDialog()">
    <img src="https://cdn-icons-png.flaticon.com/512/2976/2976286.png" alt="" />
  </div>
  <div class="top-dialog">
    <div class="avatar-top-dialog">
      <img src="../../../../../../../assets/imgs/Rectangle 14.png" alt="" />
    </div>
    <div class="content-top-dialog">
      <div class="container-user-top-dialog">
        <div class="username-top-dialog">Netflix</div>
        <div class="tagname-top-dialog">@netflix</div>
        <div class="time-top-dialog">Aug 15</div>
      </div>
      <div class="content-user-top-dialog">
        Ronaldo chính thức gia nhập Manchester United, trở về mái nhà xưa sau 12
        năm xa cách
      </div>
    </div>
  </div>
  <div class="input-comment">
    <input type="text" placeholder="Post your comment!" />
  </div>

  <div class="bottom-dialog">
    <div class="icon-dialog">
      <mat-icon style="margin-right: 10px">image</mat-icon>
      <mat-icon style="margin-right: 10px">gif</mat-icon>
      <mat-icon style="margin-right: 10px">poll</mat-icon>
      <mat-icon style="margin-right: 10px">emoji_emotions</mat-icon>
      <mat-icon style="margin-right: 10px">schedule</mat-icon>
    </div>
    <div class="button-comment">
      <button mat-raised-button color="primary">Post</button>
    </div>
  </div>
</dialog>

<dialog class="editProfile_dialog" style="color: #1f1a1c" #appDialog3>
  <form class="form" [formGroup]="myEditForm">
    <div id="top">
      <div id="left">
        <div class="btnClose" (click)="closeEditProfileDialog()">
          <div id="box">
            <img
              src="https://cdn-icons-png.flaticon.com/512/2976/2976286.png"
              alt=""
            />
          </div>
        </div>
      </div>

      <div id="mid">
        <div id="dialog_name">
          <span>Edit profile</span>
        </div>
      </div>

      <div id="right">
        <div id="save_btn">
          <button id="save" (click)="save(myEditForm.value)" mat-stroked-button>
            <span>Save</span>
          </button>
        </div>
      </div>
    </div>

    <div id="main">
      <div id="background">
        <div id="addImg"></div>
        <mat-icon style="color: white; position: absolute; cursor: pointer"
          >add_a_photo</mat-icon
        >
      </div>

      <div id="avt">
        <img *ngIf="selectedImage === null" src="{{ profile.avatar }}" alt="" />
        <img
          *ngIf="selectedImage !== null"
          [src]="selectedImage"
          alt=""
          style="width: 100%; height: 100%"
        />
        <div id="avtImg">
          <div id="addImg"></div>
          <input
            type="file"
            accept="image/*"
            style="display: none"
            (change)="handleFileInput($event)"
            #fileInput
          />
          <mat-icon
            style="color: white; position: absolute; cursor: pointer"
            (click)="fileInput.click()"
            >add_a_photo</mat-icon
          >
        </div>
      </div>

      <div id="container_name">
        <div class="box">
          <div id="name">
            <span>Name</span>
          </div>
          <div id="input_name">
            <input type="text" formControlName="displayName" />
          </div>
        </div>
      </div>

      <div id="container_bio">
        <div class="box">
          <div id="bio">
            <span>Bio</span>
          </div>
          <div id="input_bio">
            <textarea type="text" formControlName="bio"></textarea>
          </div>
        </div>
      </div>

      <div id="container_location">
        <div class="box">
          <div id="location">
            <span>Location</span>
          </div>
          <div id="input_location">
            <input type="text" formControlName="country" />
          </div>
        </div>
      </div>

      <div id="container_website">
        <div class="box">
          <div id="website">
            <span>Website</span>
          </div>
          <div id="input_website">
            <input type="text" formControlName="website" />
          </div>
        </div>
      </div>

      <div id="container_birthday">
        <div id="birthday">
          <span id="title">Birthday </span>
          <span id="edit">- Edit</span>
        </div>
        <div id="date">January 11, 2000</div>
      </div>

      <div></div>
    </div>
  </form>
</dialog>
