<<<<<<< HEAD
.parent {
  height: 100%;
  width: 100%;
  display: flex;
}

.left {
  background-color: blue;
  color: white;
  height: 100%;
  width: 20%;
}

.right {
  background-color: purple;
  color: white;
  height: 100%;
  width: 30%;
}

.main {
  color: white;
  margin: 0 15px;
  height: 100%;
  width: 50%;
}
=======
>>>>>>> d17543ce21ecedb465d2f2ac37e119446b8a4918
