<div class="container">
  <div class="borderinput">
    <div class="search">
      <mat-icon style="color: black; font-size: 25px">search</mat-icon>
      <input type="text" class="searchTerm" placeholder="Search..." />
    </div>
  </div>
  <div class="suggestFollow">
    <h2>Suggest page</h2>
    <div class="follow">
      <div class="avata">
        <img class="userimg" src="../../../assets/Soliqs.png" />
      </div>

      <div class="name">
        <span class="textname">User Name</span>
        <span class="textid">@User Name</span>
      </div>
      <div class="none"></div>
      <div class="more">
        <span class="text">Follow</span>
      </div>
    </div>
    <div class="follow">
      <div class="avata">
        <img class="userimg" src="../../../assets/Soliqs.png" />
      </div>

      <div class="name">
        <span class="textname">User Name</span>
        <span class="textid">@User Name</span>
      </div>
      <div class="none"></div>
      <div class="more">
        <span class="text">Follow</span>
      </div>
    </div>
    <div class="follow">
      <div class="avata">
        <img class="userimg" src="../../../assets/Soliqs.png" />
      </div>

      <div class="name">
        <span class="textname">User Name</span>
        <span class="textid">@User Name</span>
      </div>
      <div class="none"></div>
      <div class="more">
        <span class="text">Follow</span>
      </div>
    </div>
    <p>Show more</p>
  </div>
  <div class="trend">
    <h2>Trends for you</h2>
    <div class="alltrend">
      <div class="trendName">
        <span class="placeTrend">Trending in Vietnam</span>
        <span class="textTrend">Hóng</span>
        <span class="numofpost">143K posts</span>
      </div>
      <div class="icon">
        <mat-icon>more_horiz</mat-icon>
      </div>
    </div>
    <div class="alltrend">
      <div class="trendName">
        <span class="placeTrend">Trending in Vietnam</span>
        <span class="textTrend">Hóng</span>
        <span class="numofpost">143K posts</span>
      </div>
      <div class="icon">
        <mat-icon>more_horiz</mat-icon>
      </div>
    </div>
    <div class="alltrend">
      <div class="trendName">
        <span class="placeTrend">Trending in Vietnam</span>
        <span class="textTrend">Hóng</span>
        <span class="numofpost">143K posts</span>
      </div>
      <div class="icon">
        <mat-icon>more_horiz</mat-icon>
      </div>
    </div>
    <p>Show more</p>
  </div>
</div>
