.cotainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.borderinput {
  width: 100%;
  height: 45px;
  // height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f0e5e8;
  border-radius: 20px;
  margin-top: 10px;
  .search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;

    .searchTerm {
      width: 80%;
      height: 35px;
      // height: 45px;
      border-radius: 10px;
      border: none;
      outline: none;
      background-color: #f0e5e8;
      font-size: 18px;
    }
  }
}

.suggestFollow {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #fcf1f3;
  border-radius: 10px 10px 0 0;
  margin-top: 10px;
  padding: 10px 0 0 0  ;

  .textmore {
    display: flex;
    flex-direction: column;
    height: 40px;

    cursor: pointer;

    justify-content: center;
    p {
     margin-left: 16px;
      color: rgb(73, 73, 73);
      font-size: 13px;
    }
  }
  .textmore:hover {
    background-color: #ffe5f0;
  }

  .title {
    h2 {
      font-weight: 500;
      color: black;
      margin: 0 0 5px 15px;
      font-size: 18px;
    }
  }
  .allfollow {
    .follow {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: calc(100% - 24px);
      // margin-top: 10px;
      padding: 12px;

      cursor: pointer;

      .avata {
        border-radius: 50%;
        width: 47px;
        height: 40px;
        margin-top: 2px;
        margin-left: 2px;
        .userimg {
          height: 100%;
          border-radius: 50%;
          width: 100%;
          object-fit: cover;
        }
      }

      .people {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .name {
          display: flex;
          justify-content: center;
          margin: 0 10px;
          display: flex;
          flex-direction: column;
          .textname {
            font-size: 15px;
            color: black;
          }
          .textid {
            color: rgb(180, 180, 180);
            font-size: 14px;
          }
        }

        .more {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          width: 75px;
          height: 30px;
          border: none;
          margin-top: 3px;
          font-size: 14px;
          background-color: #944170;
        }
      }
    }
  }
  .follow:hover {
    background-color: #ffe5f0;
  }
}
.trend {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #fcf1f3;
  border-radius: 10px 10px  0 0;
  margin-top: 10px;
  padding: 10px 10px 0 10px;


  h2 {
    font-weight: 500;
    color: black;
    margin: 10px 0 0 10px;
    font-size: 18px;
  }

  .alltrend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;
    padding: 5px 10px;
   

    .trendName {
      display: flex;
      flex-direction: column;

      .placeTrend {
        color: rgb(180, 180, 180);
        font-size: 13px;
      }
      .textTrend {
        color: black;
        font-weight: 500;
        font-size: 15px;
      }
      .numofpost {
        color: rgb(180, 180, 180);
        font-size: 13px;
      }
    }
    .icon {
     display: flex;
      justify-content: center;
      align-items: center;

      color: black;
      width: 35px;
      height: 35px;
    }
    .icon:hover {
      border-radius: 50%;
      background-color: #ffe5f0;
      
    }
  }
}

.textmore {
  display: flex;

  flex-direction: column;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  background-color: #fcf1f3;
  p {
    color: rgb(73, 73, 73);
    font-size: 13px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
.textmore:hover {
  background-color: #ffe5f0;
}