<div class="container">
  <div class="borderinput">
    <div class="search">
      <mat-icon style="color: rgb(55, 55, 55); font-size: 25px; margin: 0 10px"
        >search</mat-icon
      >
      <input type="text" class="searchTerm" placeholder="Search..." />
    </div>
  </div>
  <div class="suggestFollow">
    <div class="title">
      <h2>Suggest page</h2>
    </div>
    <div class="allfollow">
      <div class="follow">
        <div class="avata">
          <img class="userimg" src="../../../assets/Soliqs.png" />
        </div>
        <div class="people">
          <div class="name">
            <span class="textname">Trần Thành Huy</span>
            <span class="textid">@User Name</span>
          </div>

          <div class="more">
            <span class="text">Follow</span>
          </div>
        </div>
      </div>
    </div>

    <div class="allfollow">
      <div class="follow">
        <div class="avata">
          <img
            class="userimg"
            src="https://i.pinimg.com/736x/bc/e2/dd/bce2dda345d034c2f86af133b2d09e92.jpg"
          />
        </div>
        <div class="people">
          <div class="name">
            <span class="textname">Cristiano Ronaldo</span>
            <span class="textid">@User Name</span>
          </div>

          <div class="more">
            <span class="text">Follow</span>
          </div>
        </div>
      </div>
    </div>

    <div class="allfollow">
      <div class="follow">
        <div class="avata">
          <img
            class="userimg"
            src="https://i.pinimg.com/originals/81/74/1b/81741be2b0f6e72851b7ab63c0829354.jpg"
          />
        </div>
        <div class="people">
          <div class="name">
            <span class="textname">Lionel Messi</span>
            <span class="textid">@User Name</span>
          </div>

          <div class="more">
            <span class="text">Follow</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="textmore">
    <p>Show more</p>
  </div>
  <div class="trend">
    <h2>Trends for you</h2>
    <div class="alltrend">
      <div class="trendName">
        <span class="placeTrend">Trending in Vietnam</span>
        <span class="textTrend">Hóng</span>
        <span class="numofpost">143K posts</span>
      </div>
      <div class="icon">
        <mat-icon>more_horiz</mat-icon>
      </div>
    </div>
    <div class="alltrend">
      <div class="trendName">
        <span class="placeTrend">Trending in Vietnam</span>
        <span class="textTrend">Hóng</span>
        <span class="numofpost">143K posts</span>
      </div>
      <div class="icon">
        <mat-icon>more_horiz</mat-icon>
      </div>
    </div>
    <div class="alltrend">
      <div class="trendName">
        <span class="placeTrend">Trending in Vietnam</span>
        <span class="textTrend">Hóng</span>
        <span class="numofpost">143K posts</span>
      </div>
      <div class="icon">
        <mat-icon>more_horiz</mat-icon>
      </div>
    </div>
  </div>
  <div class="textmore">
    <p>Show more</p>
  </div>
</div>
