<div class="container" >
    <div class="right">
        <div class="head">
          <div class="avatar">
            <img
              src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-1093451218.jpg?crop=0.929xw:0.724xh;0,0.114xh&resize=1200:*"
              alt=""
            />
          </div>
          <div class="name">Adam Levine</div>
          <div class="iconInfo" (click)="goToInfo()">
            <img
              src="https://cdn-icons-png.flaticon.com/512/471/471662.png"
              alt=""
            />
          </div>
        </div>

        <div class="chatBox">
          <div class="chatScreen">
            <div class="bubleChatUser">
              <div class="buble">
                <div class="bubleGroup">
                  <div class="name">Adam</div>
                  <div class="message">
                    <div class="mess">Hello you think it oke, good </div>
                  </div>
                  <div class="message">
                    <div class="mess">Hello, everything is okesaa, asd sadsaj dlsajdiwqj 
                      kisadjas sk dkljqwidjsaljdiwq d qjdaosij dsad adas ád ddddddad sa dá á dá asdasd asd asdasd á đsad asd á đá sad asd asd ad ád
                    </div>
                  </div>
                  <div class="message">
                    <div class="mess">Hello, everything is okesaa, asd sadsaj dlsajdiwqj 
                      kisadjas sk dkljqwidjsaljdiwq d qjdaosij dsad adas ád ddddddad sa dá á dá asdasd asd asdasd á đsad asd á đá sad asd asd ad ád
                    </div>
                  </div>
                  <div class="message">
                    <div class="mess">Hello, everything is okesaa, asd sadsaj dlsajdiwqj 
                      kisadjas sk dkljqwidjsaljdiwq d qjdaosij dsad adas ád ddddddad sa dá á dá asdasd asd asdasd á đsad asd á đá sad asd asd ad ád
                    </div>
                  </div>
                  <div class="message">
                    <div class="mess">Hello, everything is okesaa, asd sadsaj dlsajdiwqj 
                      kisadjas sk dkljqwidjsaljdiwq d qjdaosij dsad adas ád ddddddad sa dá á dá asdasd asd asdasd á đsad asd á đá sad asd asd ad ád
                    </div>
                  </div>
                  <div class="message">
                    <div class="mess">Hello, everything is okesaa, asd sadsaj dlsajdiwqj 
                      kisadjas sk dkljqwidjsaljdiwq d qjdaosij dsad adas ád ddddddad sa dá á dá asdasd asd asdasd á đsad asd á đá sad asd asd ad ád
                    </div>
                  </div>
                  <div class="message">
                    <div class="mess">Hello, everything is okesaa, asd sadsaj dlsajdiwqj 
                      kisadjas sk dkljqwidjsaljdiwq d qjdaosij dsad adas ád ddddddad sa dá á dá asdasd asd asdasd á đsad asd á đá sad asd asd ad ád
                    </div>
                  </div>
                  <div class="message">
                    <div class="mess">Hello, everything is okesaa, asd sadsaj dlsajdiwqj 
                      kisadjas sk dkljqwidjsaljdiwq d qjdaosij dsad adas ád ddddddad sa dá á dá asdasd asd asdasd á đsad asd á đá sad asd asd ad ád
                    </div>
                  </div>
                  <div class="message">
                    <div class="mess">Hello, everything is okesaa, asd sadsaj dlsajdiwqj 
                      kisadjas sk dkljqwidjsaljdiwq d qjdaosij dsad adas ád ddddddad sa dá á dá asdasd asd asdasd á đsad asd á đá sad asd asd ad ád
                    </div>
                  </div>
                  
                </div>
                <div class="avatar">
                  <img
                    src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-1093451218.jpg?crop=0.929xw:0.724xh;0,0.114xh&resize=1200:*"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="bubleChatFriend">
              <div class="buble">
                <div class="avatar">
                  <img
                    src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-1093451218.jpg?crop=0.929xw:0.724xh;0,0.114xh&resize=1200:*"
                    alt=""
                  />
                </div>
                <div class="bubleGroup">
                  <div class="name">Adam</div>
                  <div class="message">
                    <div class="mess">Hello, everything is okesaa, asd sadsaj dlsajdiwqj 
                      kisadjas sk dkljqwidjsaljdiwq d qjdaosij dsad adas ád ddddddad sa dá á dá asdasd asd asdasd á đsad asd á đá sad asd asd ad ád
                    </div>
                  </div>

                  <div class="message">
                    <div class="mess">Hello, everything is okesaa, asd sadsaj dlsajdiwqj 
                      kisadjas sk dkljqwidjsaljdiwq d qjdaosij dsad adas ád ddddddad sa dá á dá asdasd asd asdasd á đsad asd á đá sad asd asd ad ád
                    </div>
                  </div>

                  
                </div>
              </div>
            </div>
            <div class="bubleChatUser">
              <div class="buble">
                <div class="bubleGroup">
                  <div class="name">Adam</div>
                  <div class="message">
                    <div class="mess">Hello you think it oke, good </div>
                  </div>
                  <div class="message">
                    <div class="mess">Hello, everything is okesaa, asd sadsaj dlsajdiwqj 
                      kisadjas sk dkljqwidjsaljdiwq d qjdaosij dsad adas ád ddddddad sa dá á dá asdasd asd asdasd á đsad asd á đá sad asd asd ad ád
                    </div>
                  </div>
                
                  
                </div>
                <div class="avatar">
                  <img
                    src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-1093451218.jpg?crop=0.929xw:0.724xh;0,0.114xh&resize=1200:*"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="chatPlace">
          <div class="row1">
            <input type="text" placeholder="Send messages" />
            <div class="sendBtn">
              <img
                class="iconSend"
                src="https://cdn-icons-png.flaticon.com/512/10322/10322482.png"
                alt=""
              />
            </div>
          </div>
          <div class="row2">
            <div class="emojiBtn">
              <img
                src="https://cdn-icons-png.flaticon.com/512/4989/4989500.png"
                alt=""
              />
            </div>
            <div class="imgBtn">
              <img
                src="https://cdn-icons-png.flaticon.com/512/739/739249.png"
                alt=""
              />
            </div>
          </div>
        </div>
        
      </div>

</div>

