<div class="container">
  <div class="topall">
    <div class="logo">
      <img
        class="soliqs"
        (click)="return('home')"
        src="../../../assets/soliqs-icon.png"
        alt="logo"
      />
    </div>

    <div class="navigate">
      <div
        class="nav"
        *ngFor="let nav of navItems; let i = index"
        (click)="changeBackgroundColor(nav)"
        [ngClass]="{
          selected: currentPage === nav.route,
          colored: nav.backgroundColor
        }"
      >
        <mat-icon class="icon">{{ nav.icon }}</mat-icon>
        <span class="text">{{ nav.text }}</span>
      </div>
      <div class="nav" *ngFor="let navItem of navProfile">
        <mat-icon class="icon">{{ navItem.icon }}</mat-icon>
        <span class="text">{{ navItem.text }}</span>
      </div>
    </div>

    <div class="btn" (click)="openPostDialog()">
      <span class="textbtn">Post</span>
    </div>
  </div>

  <div class="user">
    <div class="userinfor">
      <div class="avata">
        <img
          class="userimg"
          *ngIf="profile.avatar !== null"
          src="{{ profile.avatar }}"
        />
        <img
          class="userimg"
          *ngIf="profile.avatar === null"
          src="../../../assets/mapngu.png"
        />
      </div>

      <div class="name">
        <span class="text">{{ profile.displayName }}</span>
        <span class="text">@ {{ profile.userName }}</span>
      </div>
    </div>

    <button class="logout" mat-flat-button color="accent" (click)="logout()">
      Logout
    </button>
    <div class="more">
      <mat-icon class="icon">more_horiz</mat-icon>
    </div>
  </div>
</div>

<dialog class="postDL" style="color: #1f1a1c" #appDialog>
  <div class="btnClose" (click)="closePostDialog()">
    <img src="https://cdn-icons-png.flaticon.com/512/2976/2976286.png" alt="" />
  </div>
  <div class="post">
    <div class="top">
      <div class="avatar">
        <img
          src="https://static01.nyt.com/images/2022/12/30/multimedia/30soccer-ronaldo-1-76fd/30soccer-ronaldo-1-76fd-videoSixteenByNine3000.jpg"
          alt=""
        />
      </div>
      <div class="input">
        <textarea placeholder="What is happening?!"></textarea>
      </div>
    </div>
    <div class="bottom">
      <div class="icon">
        <mat-icon style="margin-right: 30px">image</mat-icon>
        <mat-icon style="margin-right: 30px">gif</mat-icon>
        <mat-icon style="margin-right: 30px">poll</mat-icon>
        <mat-icon style="margin-right: 30px">emoji_emotions</mat-icon>
        <mat-icon style="margin-right: 30px">schedule</mat-icon>
      </div>
      <div class="divice"></div>
      <div class="button">
        <button mat-raised-button color="primary">Post</button>
      </div>
    </div>
  </div>
</dialog>
