<div class="container">
  <div class="logo">
    <img class="soliqs" src="../../../assets/Soliqs.png" alt="logo" />
  </div>
  <div class="navigate">
    <div class="nav">
      <mat-icon class="icon">home</mat-icon>
      <span class="text">Home</span>
    </div>
    <div class="nav">
      <mat-icon class="icon">search</mat-icon>
      <span class="text">Search</span>
    </div>
    <div class="nav">
      <mat-icon class="icon">notifications</mat-icon>
      <span class="text">Notifications</span>
    </div>
    <div class="nav">
      <mat-icon class="icon">chat</mat-icon>
      <span class="text">Message</span>
    </div>
    <div class="nav">
      <mat-icon class="icon">diversity_2</mat-icon>
      <span class="text">Group</span>
    </div>
    <div class="nav">
      <mat-icon class="icon">account_circle</mat-icon>
      <span class="text">Profile</span>
    </div>
  </div>

  <div class="btn">
    <span class="textbtn">Post</span>
  </div>
  <div class="none"></div>
  <div class="user">
    <div class="avata">
      <img class="userimg" src="../../../assets/Soliqs.png" />
    </div>

    <div class="name">
      <span class="text">User Name</span>
      <span class="text">@User Name</span>
    </div>

    <div class="more">
      <mat-icon class="icon">more_horiz</mat-icon>
    </div>
  </div>
</div>
