<div class="container-detail-post">
    <div class="left-detail-post">
        <div class="img-detail-post">
            <img src="https://static-images.vnncdn.net/files/publish/2023/8/21/chelsea-9.jpg" alt="">
        </div>
    </div>
    <div class="right-detail-post">
        <div class="top-right-detail-post">
            <div class="info-detail-post">
                <div class="user-detail-post"></div>
                <div class="content-detail-post"></div>
            </div>
            <div class="reaction-detail-post">

            </div>

        </div>
        <div class="center-right-detail-post">
            <div class="conments-detail-post">  
                <div class="comment-detail-post">
                    <div class="img-user-comment-detail-post"></div>
                    <div class="content-comment-detail-post"></div>
                </div>
            </div>
        </div>
        <div class="bottom-right-detail-post">
            <div class="img-bottom-detail-post"></div>
            <div class="input-detail-post"></div>
        </div>
    </div>
</div>
