<div class="container">
  <div class="left">
    <img src="../../../assets/imgs/logo-official.png" alt="" />
  </div>
  <div class="right">
    <div class="btnGroup">
      <div class="title">Register account</div>
      <form class="form" [formGroup]="regisForm">
        <mat-form-field class="fieldEmail" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder=""
            formControlName="email"
            readonly="true"
          />
        </mat-form-field>
        <mat-form-field class="fieldEmail" appearance="fill">
          <mat-label>DisplayName</mat-label>
          <input
            matInput
            placeholder=""
            formControlName="displayName"
            readonly="true"
          />
        </mat-form-field>
        <mat-form-field class="fieldUser" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="" formControlName="userName" />
        </mat-form-field>
      </form>

      <button class="btnConfirm" (click)="register()">Confirm</button>
    </div>
  </div>
</div>
