
.posts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  flex-direction: column;

  .item {
    width: calc(100% - 20px);
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #d4c2c8;

    .top-item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;

      .avatar-top-item {
        margin: 0 10px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 55px;
          height: 55px;
          border-radius: 10px;
          cursor: pointer;
        }
      }

      .content-top-item {
        width: calc(100% - 50px);
        .container-user-top-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
         
          /* Căn giữa theo chiều dọc */

          .left-container-user-top-item {
            margin: 0 10px;
            justify-content: center;
            align-items: center;
            display: flex;

            .username-top-item {
              color: #1f1a1c;
              font-size: 20px;
              font-weight: 500;
              margin-right: 10px;
            }

            .tagname-top-item,
            .time-top-item {
              font-size: 16px;
              color: #504349;
              margin-right: 10px;
            }
          }

          .icon-content-top-item {
            color: #504349;
          }
        }

        .content-user-top-item {
          margin: 0 10px;
          width: calc(100% - 50px);
          padding-right: 50px;
          font-size: large;
          color: #1f1a1c;
        }
      }
    }

    .img-item {
      width: fit-content;
      height: fit-content;
      display: flex;
      justify-content: flex-start;

      img {
        max-width: fit-content;
        max-height: 800px;
        min-width: 400px;
        min-height: 400px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: contain;
        cursor: pointer;
        margin-left: 50px;
      }
    }

    .reaction {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      .item-reaction {
        width: 20%;
        color: #504349;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .count {
          margin: 10px;
        }
      }
    }
  }
}
.comment-dialog {
  border: none;
  border-radius: 20px;
  width: 35%;
  position: fixed;
  inset-block-start: 0px;
  inset-block-end: 200px;
  max-width: calc((100% - 6px) - 2em);
  max-height: calc((100% - 6px) - 2em);
  user-select: text;
  visibility: visible;
  // overflow: auto;

  .btnClose {
    margin: 5px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .top-dialog {
    align-items: center;
    justify-content: center;
    display: flex;
    .avatar-top-dialog {
      margin: 20px;
    }

    .content-top-dialog {
      .container-user-top-dialog {
        align-items: center;
        justify-content: flex-start;
        display: flex;
      }
    }
  }
  .input-comment {
    margin: 20px;
    width: 90%;

    input {
      font-size: large;
      outline: none;
      border: none;
      width: 100%;
    }
  }
  .bottom-dialog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button-comment {
      button {
        border-radius: 20px;
      }
    }
  }
}
